In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('origin/IMDB.csv') # the original dataset

In [4]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [5]:
df.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

In [5]:
df.groupby('sentiment').count()

           review
sentiment
negative    25000
positive    25000

In [6]:
positive_df = df[df['sentiment'] == 'positive']
negative_df = df[df['sentiment'] == 'negative']

# delete half of the dataset randomly
positive_reduced = positive_df.sample(n=len(positive_df) - 12500, random_state=42)
negative_reduced = negative_df.sample(n=len(negative_df) - 12500, random_state=42)

# concate the remaining dataset
new_df = pd.concat([positive_reduced, negative_reduced])
new_df = new_df.reset_index(drop=True)

In [7]:
new_df.head()

                                              review sentiment
0  I don't know how or why this film has a meager...  positive
1  For a long time it seemed like all the good Ca...  positive
2  Terry Gilliam's and David Peoples' teamed up t...  positive
3  What is there to say about an anti-establishme...  positive
4  This movie was made only 48 years after the en...  positive

In [16]:
def transfer(x):
    if(x == 'positive'):
        return 1
    else:
        return 0
new_df['sentiment'] = new_df['sentiment'].apply(transfer)

In [17]:
new_df.describe()

         sentiment
count  25000.00000
mean       0.50000
std        0.50001
min        0.00000
25%        0.00000
50%        0.50000
75%        1.00000
max        1.00000

In [18]:
new_df.groupby('sentiment').count()

           review
sentiment
0           12500
1           12500

In [19]:
new_df.to_csv('data/IMDB.csv')